root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psm1}]
# Windows PowerShell 5.1 lit les fichiers sans BOM en ANSI
charset = utf-8-bom

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
